<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <!-- Aula 21 revisar para fixar-->
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bdpetshoping?useTimezone=true &amp;serverTimezone=UTC</property>
       <property name="hibernate.connection.username">root</property>


         <!--Visualizar os códigos SQL na compilação -->
        <!--  --> <property name="hibernate.show_sql">true</property>


      <!-- Formatar a exibição dos dados acima -->
        <property name="hibernate.format_sql">true</property>

        <!-- Modo de persistências das tabelas -->
      <property name="hbm2ddl.auto">update</property>
        <!--  <property name="hbm2ddl.auto">create</property> -->
        <!-- -->

     </session-factory>
 </hibernate-configuration>